
<h1>Buscar por Region: <small> {{ regionactiva |titlecase }} </small></h1>
<hr>

<div >
    <h3> Selecionar la region:</h3>
    <div class="botones">
        <button *ngFor="let region of regiones"
                 (click)="activarRegion(region)"
                 class="btn btn-outline-primary"
                 [ngClass]="{'active': regionactiva === region}"
                 style="margin: 2px;">
            {{ region | titlecase}}
        </button>
    </div>
</div>

    <br>

    <div *ngIf="  regionactiva === ''; else table" class="alert alert-warning text-center">
    No hay países que mostrar
    </div>

    <ng-template #table> 

    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Bandera</th>
                <th>Icon</th>
                <th>Nombre</th>
                <th>Capital</th>
                <th>Población</th>
                <th></th>
            </tr>
            </thead>
        <tbody> 
        <tr *ngFor=" let regiones of region, let i = index"> 
            <td> {{i + 1}} </td>
            <td> <img [src]="regiones.flags.png"  style="width: 2rem;" alt=""></td>
            <td> {{regiones.flag}} </td>
            <td> {{regiones.name.common}} </td>
            <td> {{regiones.capital}} </td>
            <td> {{regiones.population | number}} </td>

            <td> <a [routerLink]="[ '/paises', regiones.cca2 ]">
                <i class="bi bi-arrow-up-right-square" style="cursor: pointer; font-size: 1.5rem;" ></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</ng-template>
