

    <div class="row">
        <div class="col-12">
            <h1>País: <small>{{ pais.name.common}}</small></h1>
            <hr>
        </div>
    </div>

    <div class="col-4">
        <h3>Bandera</h3>
        <img [src]="pais.flags.png" class="img-thumbnail" />
    </div>

    <div class="col-4">
        <h3>Capital: <small> {{ pais.capital}}</small> </h3>
    </div>

    <div class="col">
        <h3>Información</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Población:</strong> {{ pais.population | number }}
            </li>
            <li class="list-group-item">
                <strong>Código numérico:</strong> {{ pais.ccn3 }}
            </li>
            <li class="list-group-item">
                <strong>Código alpha3</strong> {{ pais.cca3 }}
            </li>
        </ul>
    </div>

    <br>
<!-- 
     <pre class="mt-5">
        {{ pais | json }}
    </pre>  -->


