
  <div class="row container mt-4" >
    <div  class="col-3">

  <h1>Paises</h1>
  <hr>

    <ul class="list-group">
      <li class="list-group-item" 
          routerLink="/pais" 
          routerLinkActive="active"
          style="text-align: center;"> 
          Por Paises 
      </li>
      
      <li class="list-group-item" 
          routerLink="/capital" 
          routerLinkActive="active"
          style="text-align: center;"> 
          Por Capitales 
      </li>
      
      <li class="list-group-item" 
          routerLink="/region" 
          routerLinkActive="active" 
          style="text-align: center;">
           Por Regiones 
      </li>
    </ul>
  </div>

  
  <!-- [ngClass]="{'active': regionactiva === region}" -->

    <div class="col">
      <router-outlet></router-outlet>
    </div>

  
</div>

